node_modules
devextreme
devextreme-react
devextreme-vue
devextreme-vue-renovated
devextreme-react-renovated
devextreme-angular
devextreme-angular-renovated
bundles
yarn.lock
package-lock.json

build_repos.log

playground/angular-app/src/app/*-native.js
playground/angular-app/src/app/*-renovated-wrapper.js
playground/angular-app/src/app/*-wrapper.js
playground/vue-app/src/components/*-native.js
playground/vue-app/src/components/*-renovated-wrapper.js
playground/vue-app/src/components/*-wrapper.js
playground/jquery/testBundles
