<!-- First render min options -->
<!-- <dx-button  *ngFor="let item of items"
  text="Click Me!"
>
</dx-button> -->

<!-- First render max options -->
<!-- <dx-button  *ngFor="let item of items"
  text="Click Me!"
  icon="download"
  accessKey="c"
  [activeStateEnabled]="true"
  [disabled]="false"
  hint="text hint"
  (click)="clickHandler()"
  [rtlEnabled]="true"
  [tabIndex]="1"
  [width]="100"
  height="40"
>
</dx-button> -->

<!-- First render template -->


<dx-button
  [template]="buttonTemplate"
  text="button-text"
>
</dx-button>
<ng-template #buttonTemplate let-text="text" let-icon="icon">
  <div>
    {{ text }}
  </div>
</ng-template>

<!-- Option change Icon -->
<!-- <button (click)="changeIcon()">
  change Icon
</button>
<dx-button  *ngFor="let item of items"
  text="button"
  [icon]="icon"
>
</dx-button> -->

<!-- Option change text -->
<!-- <button (click)="changeText()">
  change Text
</button>
<dx-button  *ngFor="let item of items"
  [text]="text"
>
</dx-button> -->

<!-- Option Change Max -->
<!-- <button (click)="changeOptions()">
  change options
</button>
<dx-button  *ngFor="let item of items"
  [text]="text"
  [icon]="icon"
  [accessKey]="accessKey"
  [disabled]="false"
  [hint]="hint"
  [rtlEnabled]="rtlEnabled"
  [tabIndex]="tabIndex"
  [width]="width"
  [height]="height"
>
</dx-button> -->

<!-- Method Focus -->
<!-- <button (click)="focus()">
  Call Focus
</button>
<dx-button  *ngFor="let item of items"
  [text]="text"
>
</dx-button> -->

<!-- Memory Leaks -->
<!-- <button (click)="create()">
  Create
</button>
<button (click)="remove()">
  Remove
</button>

<dx-button  *ngFor="let item of items"
  [text]="text"
>
</dx-button> -->
