name: Performance

on: [push]
#  schedule:
#  - cron: "0 0 * * *"

jobs:
  perf:
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
    - name: Get sources
      uses: actions/checkout@v2

    - name: Run npm install
      run: npm install --no-package-lock --no-audit --no-fund

    - name: Build repos
      run: npm run build:repos

    - name: Build jquery
      run: npm run build:jquery

    - name: Build react
      run: npm run build:react

    - name: Build vue
      run: npm run build:vue

    - name: Build angular
      run: npm run build:angular

    - name: Start react app
      run: |
        cd playground/react-app
        npm i
        CI=false npm run build
        cd build
        http-server --port 8001 &
        sleep 5

    - name: Start vue app
      run: |
        cd playground/vue-app
        npm i
        CI=false npm run build
        cd dist
        http-server --port 8002 &
        sleep 5

    - name: Run tests
      run: npm run test

    - name: Copy artifacts
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: logs
        path: ${{ github.workspace }}/*.log
        if-no-files-found: ignore